<section id="add">
  <form action="/" method="post">
   <textarea id="regularInput" name="content" placeholder='Add a title and the word "book" or "movie"&hellip;'></textarea>
     <input type="hidden" name= "user" value=<%= current_user.id %>></input>
     <button type="submit">ADD</button>
  </form>
</section>
<% @notes %>
<% @notes.each do |note| %>
  <article <%= 'class="complete"' if note.complete %>>
    <p>
      <%= note.content %>
    </p>
    <p class="links"><a href="/<%= note.id %>/complete">&#8623;</a></p>
    <% if note.content.downcase =~ /book/ %>
    <p class="icons"><a href="/<%= note.id %>/edit"><img src="/images/book.png"></a></p>
    <% else %>
    <p class="icons"><aa href="/<%= note.id %>/edit"><img src="/images/movie.png"></a></p>
    <% end %>
    <p class="meta">Created: <%= note.created_at %> in: </p>  
  </article>
<% end %>
